div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 729px;
   margin-left: 300px;
}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
   
div.gallery:hover {
    border: 1px solid #777;
}
   
div.gallery img {
    width: 100%;
    height: auto;
    height: 30rem;
    align-items: center;
}
   
div.desc {
    font-size: medium;
    font-weight: 200;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 300px;
  }
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}